.App {
  font-family: sans-serif;
  text-align: center;
}
.cardContainer {
  margin-top: 30%;
  margin-right: 30%;
  margin-left: 30%;
}
.header {
  padding-top: 50px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.cardContainer {
  margin-top: 30%;
  margin-right: 30%;
  margin-left: 30%;
}
.header {
  padding-top: 50px;
}
